
@import "../styles//AuthVariables.scss";

.google-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: $glass;
  border: 1px solid $glass-border;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;

  .google-icon-wrapper {
    background: #51505057;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    img {
      width: 18px;
      height: 18px;
      filter: none !important;
      opacity: 1 !important;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.4);
  }
}
